html {
  background: #222;
  /* background-image: url(/img/background.jpg); */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.5);
  margin: auto auto;
}

header div {
  margin: auto auto;
}

header div p {
  color: red;
}

.sortDiv {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sortDiv input[type="button"] {
  height: 4vh;
  width: 15vh;
  font-size: 1/2vh;
}

header input[type="text"] {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 1vh 2vh;
  margin: 1vh 2vh;
  border-radius: 1vh;
  font-weight: bold;
  letter-spacing: 0.5vh;
  transition: 0.15s ease-in-out;
}

body input:not([type="text"]) {
  width: 15vh;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 1vh 2vh;
  margin: 1vh 2vh;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(150, 89, 190) inset, 0 0 0 0 rgb(201, 14, 14);
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
header input:not([type="text"])::hover {
  box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #f137a6;
  color: #f137a6;
}

.gridDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 2vh auto;
}
.grid input:not([type="text"]) {
  width: 20vh;
}
.infoDiv p {
  text-align: left;
}
.grid {
  margin: 3vh auto;
  width: 50vh;
  border: 5px solid;
  border-image-source: linear-gradient(
    to right,
    rgb(150, 89, 190) 85%,
    rgb(157, 150, 221)
  );
  border-image-slice: 1;
}
.nameDiv {
  height: 10vh;
}
.nameDiv a {
  color: #ffff;
  margin: 5vh 15vh;
  font-size: 4vh;
  text-decoration: none;
}
.imgDiv {
  position: absolute;
  display: none;
  opacity: 1;
}

.imgDiv img {
  height: 28.9vh;
  width: 50vh;
}

div p {
  text-align: center;
  color: #ffff;
}

.listDiv {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: row;
  margin: 1vh auto;
  height: 10vh;
  width: 70vh;
  border: 3px solid;
  border-image-source: linear-gradient(
    to right,
    rgb(150, 89, 190) 85%,
    rgb(157, 150, 221)
  );
  border-image-slice: 1;
}

.list img {
  width: 12vh;
  height: 10vh;
}

ul {
  margin: auto -3vh;
}

li {
  color: #ffff;
  display: inline;
  padding: 1vh;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */ /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  margin: 35vh auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgb(150, 89, 190, 0.8),
    0 6px 20px 0 rgb(255, 255, 255, 0.6);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-content li {
  margin: 2vh 0;
  display: block;
}

.modal-content li a {
  color: #ffff;
  text-decoration: none;
}
.modal-content li a:hover {
  font-size: 3vh;
}
.modal-content select,
option {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 1vh 2vh;
  margin: 1vh 2vh;
  border-radius: 1vh;
  font-weight: bold;
  letter-spacing: 0.5vh;
  transition: 0.15s ease-in-out;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 795px) {
  header {
    height: 30vh;
  }
}
@media (max-width: 1220px) {
  header {
    height: 30vh;
  }
}
