html {
  background: #222;
  /* background-image: url(/img/background.jpg); */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  margin: auto auto;
}
.divSort {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 30vh;
  width: auto;
  height: auto;
}
header div {
  margin: auto auto;
}
.searchDivHeader {
  margin-top: 4.4vh;
}

header div p {
  color: red;
}

.sortDiv {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sortDiv input[type="button"] {
  height: 4vh;
  width: 15vh;
  font-size: 1.2vh;
}

header input[type="text"] {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 1vh 2vh;
  margin: 1vh 1vh;
  border-radius: 1vh;
  font-weight: bold;
  letter-spacing: 0.5vh;
  transition: 0.15s ease-in-out;
}

body input:not([type="text"]) {
  width: 15vh;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 1vh 2vh;
  margin: 1vh 2vh;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(150, 89, 190) inset, 0 0 0 0 rgb(201, 14, 14);
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
header input:not([type="text"])::hover {
  box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #f137a6;
  color: #f137a6;
}

.gridDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 2vh auto;
}
.grid input:not([type="text"]) {
  width: 20vh;
}
.infoDiv p {
  padding-left: 3vh;
  text-align: left;
}
.grid {
  margin: 3vh auto;
  width: 50vh;
  border: 5px solid;
  border-image-source: linear-gradient(
    to right,
    rgb(150, 89, 190) 85%,
    rgb(157, 150, 221)
  );
  border-image-slice: 1;
}
.nameDiv {
  height: 10vh;
}
.nameDiv a {
  color: #ffff;
  margin: 5vh 15vh;
  font-size: 4vh;
  text-decoration: none;
}
.imgDiv {
  position: absolute;
  opacity: 0;
  transition: 1.5s;
}

.imgDiv img {
  /* height: 28.9vh;
  width: 50vh; */
  height: 4.8vh;
  width: 8.3vh;
}

div p {
  text-align: center;
  color: #ffff;
}

.listDiv {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1vh auto;
  height: 10vh;
  width: 50vh;
  border: 3px solid;
  border-image-source: linear-gradient(
    to right,
    rgb(150, 89, 190) 85%,
    rgb(157, 150, 221)
  );
  border-image-slice: 1;
}

.list img {
  width: 12vh;
  height: 10vh;
}

ul {
  margin: auto -3vh;
}

li {
  color: #ffff;
  display: inline;
  padding: 1vh;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */ /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  margin: 35vh auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgb(150, 89, 190, 0.8),
    0 6px 20px 0 rgb(255, 255, 255, 0.6);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-content li {
  margin: 2vh 0;
  display: block;
}

.modal-content li a {
  color: #ffff;
  text-decoration: none;
}
.modal-content li a:hover {
  font-size: 3vh;
}
.modal-content select,
option {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 1vh 2vh;
  margin: 1vh 2vh;
  border-radius: 1vh;
  font-weight: bold;
  letter-spacing: 0.5vh;
  transition: 0.15s ease-in-out;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.cartDiv {
  width: 6vh;
  height: 6vh;
  background-image: url("../img/shopping.png");

  background-size: 5.8vh 5.8vh;
  background-repeat: no-repeat;
}
.cartDiv:hover {
  background-color: rgba(116, 109, 109, 0.6);
}
.cartA {
  position: relative;
  text-decoration: none;
  font-size: 3.7vh;
  color: #fff;
  top: 1vh;
  left: 7vh;
}
.cartDivInside {
  margin-top: 3vh;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50vh;
  display: none;
  position: absolute;
  right: 8vh;
  background-color: rgb(150, 89, 190, 0.6);
}

.carts {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 2vh 0;
}
.carts p,
a {
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
  color: #fff;
}
.cartDivInside img {
  width: 12vh;
  height: 10vh;
}
.cartTotal {
  text-align: center;
}
a.cartButton {
  top: 1vh;
  position: relative;
  z-index: 1;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: 0.25em 0.5em;
}
a.cartButton:after {
  content: "Купить"; /* здесь 6 букв */
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(
    100% + 6 * (1em * 90 / 135) - 2px * 2 * 2
  ); /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(rgb(150, 89, 190) 90%, rgb(201, 14, 14)) no-repeat
    100% 0;
  background-size: calc(6 * (1em * 90 / 135) + 0.5em) 100%;
  box-shadow: inset calc(-6 * (1em * 90 / 135) - 0.5em) 0 rgba(255, 255, 255, 0);
  transition: 0.3s;
}
a.cartButton:hover:after {
  box-shadow: inset calc(-6 * (1em * 90 / 135) - 0.5em) 0
    rgba(255, 255, 255, 0.2);
}
a.cartButton:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}

@media (max-width: 795px) {
  header {
    height: 30vh;
  }
}
@media (max-width: 1220px) {
  header {
    height: 30vh;
  }
}
